<div class="nav-container" style="text-align: center;">
    <nav style="text-align: center; ">
        <mat-toolbar >
            <mat-toolbar-row style="background-color: #12A3A0;">
              <span *ngIf="authService.isLoggedIn()" ><button mat-icon-button [matMenuTriggerFor]="appMenu">
                  <mat-icon>more_vert</mat-icon>
                </button></span>
              <span class="alignHeader">
                
                <h3>PollAppster</h3>
              </span>
              <span *ngIf="!authService.isLoggedIn()">
                <button style="margin-right: 1em;" mat-icon-button routerLink="login" routerLinkActive="active">Log in </button>
                <button style="margin-right: 1em;" mat-icon-button routerLink="register" routerLinkActive="active">Register</button>
              </span>
              <span *ngIf="authService.isLoggedIn()">
                <span>{{haalGebruikerOp()}}</span>
                <button (click)="Logout()" style="margin: 1em;" mat-icon-button routerLinkActive="active">Log out </button>
                
                </span>
            </mat-toolbar-row> 
      
          </mat-toolbar>
          <mat-menu #appMenu="matMenu">
                <mat-nav-list>
                  <a routerLink="polls" routerLinkActive="active" mat-list-item>Mijn polls</a>
                  <a routerLink="vrienden" routerLinkActive="active" mat-list-item>Mijn vrienden</a>
                </mat-nav-list>
              </mat-menu>
      <router-outlet >
  
      </router-outlet>
    </nav>
  
  </div>