<div style="display: flex;justify-content: center; margin-top: 25px;" class="wrapper">
  <mat-tab-group class="box">
    <mat-tab label="Mijn polls">
        <h5 *ngIf="polls.length<1">Geen polls beschikbaar.</h5>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let poll of polls" (click)="haalPollInfoOp(poll.poll.pollID)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{poll.poll.naam}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-pollinfo *ngIf="gekozenPollID" [pollID]="gekozenPollID" [gemaakt]="true"></app-pollinfo>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            <span matBadge={{vriendenpolls.length}} [matBadgeHidden]="vriendenpolls.length <=0" matBadgeColor="warn">Polls van vrienden</span>
        </ng-template>
      <h5 *ngIf="vriendenpolls.length<1">Geen polls beschikbaar.</h5>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let vriendenpoll of vriendenpolls" (click)="haalPollInfoOp(vriendenpoll.poll.pollID)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{vriendenpoll.poll.naam}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-pollinfo  *ngIf="gekozenPollID" [pollID]="gekozenPollID" [gemaakt]="false"></app-pollinfo>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <button mat-raised-button color="primary" (click)="nieuwePoll()">
          Nieuwe poll
        </button>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>


