<div style="display: flex;justify-content: center; margin-top: 50px;" class="login-wrapper">
      <mat-card class="box">
            <mat-card-header>
                  <mat-card-title>Log-in</mat-card-title>
            </mat-card-header>

            <form (ngSubmit)="onSubmit()" class="example-form">

                  <mat-card-content>
                        <mat-form-field>
                              <input [(ngModel)]="model.gebruikersNaam" name="gebruikersNaam" matInput
                                    placeholder="Gebruikersnaam">
                        </mat-form-field>

                        <mat-form-field>
                              <input [(ngModel)]="model.wachtWoord" name="wachtWoord" matInput placeholder="Wachtwoord"
                                    type="password">
                        </mat-form-field>

                  </mat-card-content>

                  <button mat-raised-button color="primary" type="submit">Log in</button>

            </form>
      </mat-card>
</div>